<div>
    <nav class="navbar navbar-expand navbar-light rounded-0" style="background-color: rgb(127, 52, 150)">
      <a href="#" class="navbar-brand" style="color: cornsilk;">Sala de Juegos</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" style="color: cornsilk;">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link"  style="color: cornsilk;">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="registro" class="nav-link"  style="color: cornsilk;">Registro</a>
        </li>
        <li class="nav-item">
            <a routerLink="quien-soy" class="nav-link"  style="color: cornsilk;">Quien soy</a>
          </li>
      </div>
    </nav>
      <router-outlet></router-outlet>
  </div>