<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien Soy</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Javier Scalise</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="imgPerfil"></div>
                </div>
                <div class="cuadroDeTexto col-sm-6">
                    <p>
                        Soy Javier Scalise, estudiante de la Tecnicatura universitaria en Programacion de la UTN,
                        el desarrollo de esta aplicacion es mi primera experiencia con Angular.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>