body{
    background: url('src\wallpaperFallaLogin.jpg');
	background-color: #444;
    height: 100vh;
    
}

.vertical-offset-100{
    padding-top:100px;
}

.btn {
    
    background-color: purple;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;

}





